p:first-of-type {
 text-indent: 0;
}

p {
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    text-align: center;
}

.image_1 {
    float: left;
    margin-right: 10px;
}

.image_2 {
    float: right;
    margin-left: 10px;
}

nav {
    color: white;
    position: sticky;
}

body {
    background: linear-gradient(to left, #ea0101, #700202);
    color: white;
}

#container {
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    float: left;
    margin: 0;
    border: 1px solid darkred;
}

nav ul li {
    position: relative;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
}

nav ul li:hover > ul {
    display: block;
}

nav a:link, nav a:visited {
    background-color: #ff0000;
    color: white;
    width: 248px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}

nav a:hover {
    background-color: white;
    color: red;
}

.video-container {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.end {
    color: lightgray;
    text-align: center;
    float: none;
}