nav {
    color: white;
    position: sticky;
}

body {
    background: linear-gradient(to left, #ea0101, #700202);
    color: white;
    background: url("images/wp15445653.png") no-repeat center center fixed; 
    background-size: cover;
}

#container {
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    float: left;
    margin: 0;
    border: 1px solid darkred;
}

nav ul li {
    position: relative;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
}

nav ul li:hover > ul {
    display: block;
}

nav a:link, nav a:visited {
    background-color: #ff0000;
    color: white;
    width: 248px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}

nav a:hover {
    background-color: white;
    color: red;
}

.selling {
    text-align: center;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.note {
    text-decoration: underline;
    color: red;
    font-size: large;
    text-align: center;
}

.end {
    color: lightgray;
    text-align: center;
    margin-top: 2em;
}